In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

get_ipython().run_line_magic('matplotlib', 'inline')
pd.set_option('display.max_rows', 500)

In [2]:
pd_JH_data=pd.read_csv('C:/Users/asus/ads_covid-19/data/processed/COVID_relational_confirmed.csv',sep=':',parse_dates=[0])
pd_JH_data

            date                         state             country  confirmed
0     2020-01-22                       Alberta              Canada          0
1     2020-01-22                      Anguilla      United Kingdom          0
2     2020-01-22                         Anhui               China          1
3     2020-01-22                         Aruba         Netherlands          0
4     2020-01-22  Australian Capital Territory           Australia          0
...          ...                           ...                 ...        ...
52131 2020-08-04                            no  West Bank and Gaza      12770
52132 2020-08-04                            no      Western Sahara         10
52133 2020-08-04                            no               Yemen       1760
52134 2020-08-04                            no              Zambia       6793
52135 2020-08-04                            no            Zimbabwe       4221

[52136 rows x 4 columns]

In [3]:
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada          0
1 2020-01-22       no  Korea, South          1
2 2020-01-22       no        Kosovo          0
3 2020-01-22       no        Kuwait          0
4 2020-01-22       no    Kyrgyzstan          0

In [4]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [5]:
test_data.head()

            date state  country  confirmed
15736 2020-03-21    no  Germany      22213
15791 2020-03-21    no       US      25825
16002 2020-03-22    no  Germany      24873
16043 2020-03-22    no       US      33761
16268 2020-03-23    no  Germany      29056

In [6]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-08-04    no     212828
US      2020-08-04    no    4771080

In [7]:
import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)

In [8]:
def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [9]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-08-04     212828
      US      2020-08-04    4771080

In [10]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [11]:
test_data

            date state  country  confirmed
15736 2020-03-21    no  Germany      22213
15791 2020-03-21    no       US      25825
16002 2020-03-22    no  Germany      24873
16043 2020-03-22    no       US      33761
16268 2020-03-23    no  Germany      29056
16308 2020-03-23    no       US      43850
16535 2020-03-24    no  Germany      32986
16575 2020-03-24    no       US      54112
16800 2020-03-25    no  Germany      37323
16840 2020-03-25    no       US      66055
17066 2020-03-26    no  Germany      43938
17106 2020-03-26    no       US      84091
17332 2020-03-27    no  Germany      50871
17387 2020-03-27    no       US     102276
17598 2020-03-28    no  Germany      57695
17639 2020-03-28    no       US     122069
17863 2020-03-29    no  Germany      62095
17903 2020-03-29    no       US     141205
18131 2020-03-30    no  Germany      66885
18171 2020-03-30    no       US     162707
18396 2020-03-31    no  Germany      71808
18437 2020-03-31    no       US     188724
18662 2020-04-01    no  Germany      77872
18702 2020-04-01    no       US     214205
18929 2020-04-02    no  Germany      84794
18969 2020-04-02    no       US     244610
19195 2020-04-03    no  Germany      91159
19235 2020-04-03    no       US     276547
19460 2020-04-04    no  Germany      96092
19500 2020-04-04    no       US     309699
19727 2020-04-05    no  Germany     100123
19767 2020-04-05    no       US     337573
19992 2020-04-06    no  Germany     103374
20033 2020-04-06    no       US     367215
20257 2020-04-07    no  Germany     107663
20297 2020-04-07    no       US     397992
20525 2020-04-08    no  Germany     113296
20565 2020-04-08    no       US     429686
20790 2020-04-09    no  Germany     118181
20831 2020-04-09    no       US     464442
21055 2020-04-10    no  Germany     122171
21095 2020-04-10    no       US     497943
21323 2020-04-11    no  Germany     124908
21363 2020-04-11    no       US     527969
21588 2020-04-12    no  Germany     127854
21629 2020-04-12    no       US     556522
21854 2020-04-13    no  Germany     130072
21894 2020-04-13    no       US     581813
22121 2020-04-14    no  Germany     131359
22161 2020-04-14    no       US     608878
22387 2020-04-15    no  Germany     134753
22427 2020-04-15    no       US     637974
22652 2020-04-16    no  Germany     137698
22692 2020-04-16    no       US     669272
22919 2020-04-17    no  Germany     141397
22959 2020-04-17    no       US     701996
23184 2020-04-18    no  Germany     143342
23225 2020-04-18    no       US     730337
23450 2020-04-19    no  Germany     145184
23490 2020-04-19    no       US     756375
23717 2020-04-20    no  Germany     147065
23757 2020-04-20    no       US     783716
23983 2020-04-21    no  Germany     148291
24023 2020-04-21    no       US     809318
24248 2020-04-22    no  Germany     150648
24288 2020-04-22    no       US     837422
24515 2020-04-23    no  Germany     153129
24555 2020-04-23    no       US     871617
24781 2020-04-24    no  Germany     154999
24821 2020-04-24    no       US     907908
25047 2020-04-25    no  Germany     156513
25086 2020-04-25    no       US     940829
25313 2020-04-26    no  Germany     157770
25353 2020-04-26    no       US     968518
25579 2020-04-27    no  Germany     158758
25619 2020-04-27    no       US     990983
25845 2020-04-28    no  Germany     159912
25885 2020-04-28    no       US    1015518
26110 2020-04-29    no  Germany     161539
26150 2020-04-29    no       US    1043038
26377 2020-04-30    no  Germany     163009
26417 2020-04-30    no       US    1072667
26642 2020-05-01    no  Germany     164077
26683 2020-05-01    no       US    1106829
26907 2020-05-02    no  Germany     164967
26947 2020-05-02    no       US    1136024
27175 2020-05-03    no  Germany     165664
27215 2020-05-03    no       US    1161611
27440 2020-05-04    no  Germany     166152
27481 2020-05-04    no       US    1184086
27706 2020-05-05    no  Germany     167007
27746 2020-05-05    no       US    1208271
27973 2020-05-06    no  Germany     168162
28013 2020-05-06    no       US    1233527
28238 2020-05-07    no  Germany     169430
28278 2020-05-07    no       US    1261409
28504 2020-05-08    no  Germany     170588
28544 2020-05-08    no       US    1288587
28770 2020-05-09    no  Germany     171324
28825 2020-05-09    no       US    1314320
29036 2020-05-10    no  Germany     171879
29077 2020-05-10    no       US    1334084
29302 2020-05-11    no  Germany     172576
29342 2020-05-11    no       US    1352962
29569 2020-05-12    no  Germany     173171
29609 2020-05-12    no       US    1375152
29834 2020-05-13    no  Germany     174098
29874 2020-05-13    no       US    1396110
30100 2020-05-14    no  Germany     174478
30140 2020-05-14    no       US    1423727
30366 2020-05-15    no  Germany     175233
30421 2020-05-15    no       US    1449027
30632 2020-05-16    no  Germany     175752
30673 2020-05-16    no       US    1474128
30897 2020-05-17    no  Germany     176369
30937 2020-05-17    no       US    1493132
31165 2020-05-18    no  Germany     176551
31205 2020-05-18    no       US    1514901
31430 2020-05-19    no  Germany     177778
31471 2020-05-19    no       US    1535350
31696 2020-05-20    no  Germany     178473
31736 2020-05-20    no       US    1559157
31963 2020-05-21    no  Germany     179021
32003 2020-05-21    no       US    1584512
32229 2020-05-22    no  Germany     179710
32269 2020-05-22    no       US    1608653
32494 2020-05-23    no  Germany     179986
32534 2020-05-23    no       US    1630476
32761 2020-05-24    no  Germany     180328
32801 2020-05-24    no       US    1651289
33026 2020-05-25    no  Germany     180600
33067 2020-05-25    no       US    1670280
33291 2020-05-26    no  Germany     181200
33331 2020-05-26    no       US    1689163
33559 2020-05-27    no  Germany     181524
33599 2020-05-27    no       US    1707445
33824 2020-05-28    no  Germany     182196
33865 2020-05-28    no       US    1730260
34089 2020-05-29    no  Germany     182922
34129 2020-05-29    no       US    1754764
34357 2020-05-30    no  Germany     183189
34397 2020-05-30    no       US    1779214
34622 2020-05-31    no  Germany     183410
34663 2020-05-31    no       US    1799124
34888 2020-06-01    no  Germany     183594
34928 2020-06-01    no       US    1816479
35155 2020-06-02    no  Germany     183879
35195 2020-06-02    no       US    1837374
35421 2020-06-03    no  Germany     184121
35461 2020-06-03    no       US    1857332
35686 2020-06-04    no  Germany     184472
35726 2020-06-04    no       US    1878683
35953 2020-06-05    no  Germany     184924
35993 2020-06-05    no       US    1903907
36218 2020-06-06    no  Germany     185450
36259 2020-06-06    no       US    1926639
36484 2020-06-07    no  Germany     185750
36524 2020-06-07    no       US    1944370
36751 2020-06-08    no  Germany     186109
36791 2020-06-08    no       US    1961785
37017 2020-06-09    no  Germany     186506
37057 2020-06-09    no       US    1979912
37282 2020-06-10    no  Germany     186522
37322 2020-06-10    no       US    2000706
37549 2020-06-11    no  Germany     186691
37589 2020-06-11    no       US    2023656
37815 2020-06-12    no  Germany     187226
37855 2020-06-12    no       US    2048986
38081 2020-06-13    no  Germany     187267
38120 2020-06-13    no       US    2074542
38347 2020-06-14    no  Germany     187518
38387 2020-06-14    no       US    2094366
38613 2020-06-15    no  Germany     187682
38653 2020-06-15    no       US    2114026
38879 2020-06-16    no  Germany     188252
38919 2020-06-16    no       US    2137731
39144 2020-06-17    no  Germany     188604
39184 2020-06-17    no       US    2163290
39411 2020-06-18    no  Germany     189817
39451 2020-06-18    no       US    2191099
39676 2020-06-19    no  Germany     190299
39717 2020-06-19    no       US    2222579
39941 2020-06-20    no  Germany     190670
39981 2020-06-20    no       US    2255328
40209 2020-06-21    no  Germany     191272
40249 2020-06-21    no       US    2281767
40474 2020-06-22    no  Germany     191768
40515 2020-06-22    no       US    2312303
40739 2020-06-23    no  Germany     192480
40779 2020-06-23    no       US    2347491
41007 2020-06-24    no  Germany     192871
41047 2020-06-24    no       US    2382426
41272 2020-06-25    no  Germany     193371
41313 2020-06-25    no       US    2422299
41538 2020-06-26    no  Germany     194036
41578 2020-06-26    no       US    2467554
41805 2020-06-27    no  Germany     194458
41845 2020-06-27    no       US    2510259
42071 2020-06-28    no  Germany     194693
42111 2020-06-28    no       US    2549864
42336 2020-06-29    no  Germany     195042
42376 2020-06-29    no       US    2590668
42603 2020-06-30    no  Germany     195418
42643 2020-06-30    no       US    2636414
42868 2020-07-01    no  Germany     195893
42909 2020-07-01    no       US    2687588
43134 2020-07-02    no  Germany     196370
43174 2020-07-02    no       US    2742049
43401 2020-07-03    no  Germany     196780
43441 2020-07-03    no       US    2795361
43667 2020-07-04    no  Germany     197198
43707 2020-07-04    no       US    2841241
43932 2020-07-05    no  Germany     197523
43972 2020-07-05    no       US    2891124
44199 2020-07-06    no  Germany     198064
44239 2020-07-06    no       US    2936077
44465 2020-07-07    no  Germany     198343
44505 2020-07-07    no       US    2996098
44731 2020-07-08    no  Germany     198699
44770 2020-07-08    no       US    3054699
44997 2020-07-09    no  Germany     199001
45037 2020-07-09    no       US    3117946
45262 2020-07-10    no  Germany     199332
45302 2020-07-10    no       US    3185737
45529 2020-07-11    no  Germany     199709
45570 2020-07-11    no       US    3245925
45794 2020-07-12    no  Germany     199919
45834 2020-07-12    no       US    3304942
46061 2020-07-13    no  Germany     200180
46101 2020-07-13    no       US    3364157
46326 2020-07-14    no  Germany     200456
46366 2020-07-14    no       US    3431574
46592 2020-07-15    no  Germany     200890
46632 2020-07-15    no       US    3498902
46858 2020-07-16    no  Germany     201450
46913 2020-07-16    no       US    3576157
47124 2020-07-17    no  Germany     202045
47165 2020-07-17    no       US    3647715
47389 2020-07-18    no  Germany     202426
47429 2020-07-18    no       US    3711413
47657 2020-07-19    no  Germany     202735
47697 2020-07-19    no       US    3773260
47922 2020-07-20    no  Germany     203325
47963 2020-07-20    no       US    3834677
48188 2020-07-21    no  Germany     203717
48228 2020-07-21    no       US    3899211
48455 2020-07-22    no  Germany     204276
48495 2020-07-22    no       US    3970121
48721 2020-07-23    no  Germany     204881
48761 2020-07-23    no       US    4038816
48986 2020-07-24    no  Germany     205623
49026 2020-07-24    no       US    4112531
49253 2020-07-25    no  Germany     206278
49293 2020-07-25    no       US    4178970
49518 2020-07-26    no  Germany     206667
49559 2020-07-26    no       US    4233923
49784 2020-07-27    no  Germany     207112
49824 2020-07-27    no       US    4290337
50051 2020-07-28    no  Germany     207707
50091 2020-07-28    no       US    4356206
50317 2020-07-29    no  Germany     208546
50357 2020-07-29    no       US    4426982
50582 2020-07-30    no  Germany     209535
50622 2020-07-30    no       US    4495015
50849 2020-07-31    no  Germany     210399
50889 2020-07-31    no       US    4562107
51115 2020-08-01    no  Germany     211005
51155 2020-08-01    no       US    4620592
51380 2020-08-02    no  Germany     211220
51435 2020-08-02    no       US    4668172
51647 2020-08-03    no  Germany     212111
51688 2020-08-03    no       US    4713540
51912 2020-08-04    no  Germany     212828
51954 2020-08-04    no       US    4771080

In [12]:

test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  15736            NaN
                16002            NaN
                16268       7.417994
                16535       7.142035
                16800       8.012983
                17066       6.954407
                17332       6.501919
                17598       7.390371
                17863      10.136671
                18131      13.541893
                18396      13.781393
                18662      13.140681
                18929      12.037271
                19195      12.735506
                19460      16.052694
                19727      21.372453
                19992      27.427355
                20257      27.511936
                20525      21.792179
                20790      21.495848
                21055      26.565108
                21323      36.198404
                21588      43.982990
                21854      49.423444
                22121      74.043747
                22387      56.424411
                22652      42.468318
                22919      41.525988
                23184      49.898063
                23450      75.684007
                23717      78.000000
                23983      94.526338
                24248      82.985208
                24515      62.294061
                24781      70.294338
                25047      91.536840
                25313     112.903164
                25579     140.472457
                25845     148.285092
                26110     115.116625
                26377     104.285868
                26642     128.349094
                26907     167.535921
                27175     207.816845
                27440     279.484107
                27706     247.616282
                27973     166.275622
                28238     138.835878
                28504     139.648255
                28770     179.986624
                29036     265.319391
                29302     274.642705
                29569     267.092879
                29834     227.702584
                30100     266.129559
                30366     307.670485
                30632     274.967556
                30897     309.480047
                31165     441.111389
                31430     251.099125
                31696     184.808186
                31963     287.086082
                32229     289.519806
                32494     372.170639
                32761     582.550162
                33026     587.311618
                33291     414.470948
                33559     392.008658
                33824     364.738956
                34089     260.678112
                34357     368.114804
                34622     750.711749
                34888     905.667490
                35155     783.060412
                35421     697.778621
                35686     621.103991
                35953     459.540888
                36218     378.218132
                36484     448.849072
                36751     563.792615
                37017     492.385362
                37282     902.561743
                37549    2017.005405
                37815     530.718750
                38081     649.518519
                38347    1283.130137
                38613     903.561446
                38879     511.763851
                39144     408.198120
                39411     241.394249
                39676     223.685349
                39941     446.100821
                40209     392.080164
                40474     348.336369
                40739     317.615894
                41007     348.817770
                41272     433.013094
                41538     332.061803
                41805     356.862925
                42071     591.767631
                42336     666.886986
                42603     538.071724
                42868     459.344301
                43134     411.541317
                43401     442.723036
                43667     475.320451
                43932     530.732167
                44199     456.339492
                44465     482.869919
                44731     624.783202
                44997     603.893617
                45262     628.785677
                45529     563.128060
                45794     680.249858
                46061     848.985138
                46326     745.567970
                46592     564.813146
                46858     404.289738
                47124     348.851371
                47389     413.880464
                47657     586.672464
                47922     451.231739
                48188     413.969450
                48455     428.543989
                48721     351.016037
                48986     304.271220
                49253     294.336435
                49518     394.998723
                49784     495.649081
                50051     398.388462
                50317     289.802417
                50582     228.223195
                50849     226.112610
                51115     286.140136
                51380     513.701989
                51647     382.360458
                51912     263.747512
       US       15791            NaN
                16043            NaN
                16308       3.825650
                16575       4.315038
                16840       4.924326
                17106       4.542246
                17387       4.645960
                17639       5.414292
                17903       6.260115
                18171       6.988221
                18437       6.911425
                18702       7.322433
                18969       7.724523
                19235       7.863741
                19500       8.509948
                19767      10.092081
                20033      11.758896
                20297      12.168137
                20565      12.751442
                20831      12.963331
                21095      13.596369
                21363      15.640111
                21629      18.009116
                21894      20.631256
                22161      22.247854
                22427      21.707413
                22692      21.151373
                22959      20.922412
                23225      22.943912
                23490      26.832760
                23757      28.356070
                24023      29.584131
                24288      30.169888
                24555      26.949143
                24821      24.751459
                25086      26.203105
                25353      30.987791
                25619      38.552326
                25885      42.198851
                26150      39.055345
                26417      36.527008
                26683      33.678042
                26947      34.887174
                27215      41.430446
                27481      48.294855
                27746      50.778225
                28013      48.891730
                28278      46.460248
                28544      45.810909
                28825      48.689510
                29077      57.688653
                29342      69.033107
                29609      65.942632
                29874      63.722135
                30140      57.574047
                30421      53.780625
                30673      57.497298
                30937      66.754140
                31205      73.286423
                31471      71.744801
                31736      69.435527
                32003      63.450348
                32269      64.009509
                32534      69.962594
                32801      76.467742
                33067      82.940492
                33331      88.200032
                33599      90.889959
                33865      83.166946
                34129      73.155519
                34397      71.689586
                34663      80.148813
                34928      96.512671
                35195      95.040993
                35461      89.935215
                35726      89.946323
                35993      80.728889
                36259      79.367601
                36524      95.147270
                36791     110.639314
                37057     110.405848
                37322     101.785720
                37589      91.506248
                37855      83.862856
                38120      80.535367
                38387      91.345585
                38653     106.084051
                38919      97.561367
                39184      86.811830
                39451      81.098786
                39717      73.953774
                39981      69.221131
                40249      76.137888
                40515      80.145069
                40779      70.411225
                41047      66.951119
                41313      63.738424
                41578      56.951720
                41845      56.086949
                42111      60.970129
                42376      63.432294
                42643      59.903301
                42909      54.441257
                43174      50.905167
                43441      50.878532
                43707      56.312680
                43972      59.366881
                44239      60.936367
                44505      56.034821
                44770      50.507067
                45037      50.164921
                45302      47.611543
                45570      49.745703
                45834      54.452996
                46101      55.907166
                46366      53.175990
                46632      50.933902
                46913      48.445682
                47165      48.036905
                47429      53.899199
                47697      59.114995
                47963      61.220091
                48228      60.908067
                48495      57.608109
                48761      56.865910
                49026      56.744461
                49293      58.651279
                49559      68.787751
                49824      76.044250
                50091      70.222168
                50357      63.783405
                50622      63.772056
                50889      66.526569
                51155      72.612628
                51435      87.059011
                51688     100.431094
                51954      91.685726
Name: confirmed, dtype: float64

In [13]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [14]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'doubling_rate',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  doubling_rate
0  Alberta  Canada      0            NaN
1  Alberta  Canada    465            NaN
2  Alberta  Canada    701            NaN
3  Alberta  Canada    998            NaN
4  Alberta  Canada   1197            NaN

In [15]:

pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada          0
1      1 2020-01-22       no  Korea, South          1
2      2 2020-01-22       no        Kosovo          0
3      3 2020-01-22       no        Kuwait          0
4      4 2020-01-22       no    Kyrgyzstan          0

In [16]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','doubling_rate']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  doubling_rate
0      0 2020-01-22  Alberta        Canada          0            NaN
1      1 2020-01-22       no  Korea, South          1            NaN
2      2 2020-01-22       no        Kosovo          0            NaN
3      3 2020-01-22       no        Kuwait          0            NaN
4      4 2020-01-22       no    Kyrgyzstan          0            NaN

In [17]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [18]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

pd_filtered_result

       index    state       country  confirmed  confirmed_filtered
0          0  Alberta        Canada          0                 0.0
1          1       no  Korea, South          1                 0.8
2          2       no        Kosovo          0                 0.0
3          3       no        Kuwait          0                 0.0
4          4       no    Kyrgyzstan          0                 0.0
...      ...      ...           ...        ...                 ...
52131  52131       no      Barbados        132               136.4
52132  52132       no       Belarus      68250             68268.2
52133  52133       no       Belgium      70648             70734.0
52134  52134       no       Albania       5750              5746.6
52135  52135       no      Zimbabwe       4221              4313.0

[52136 rows x 5 columns]

In [19]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1,NaN,0.8
2,2,2020-01-22,no,Kosovo,0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0,NaN,0.0

In [20]:

pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'doubling_rate_filtered',
                             'level_2':'index'})

pd_filtered_doubling.head()

     state country  index  doubling_rate_filtered
0  Alberta  Canada      0                     NaN
1  Alberta  Canada    465                     NaN
2  Alberta  Canada    701                     NaN
3  Alberta  Canada    998                     NaN
4  Alberta  Canada   1197                     NaN

In [21]:

pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','doubling_rate_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered,doubling_rate_filtered
0,0,2020-01-22,Alberta,Canada,0,NaN,0.0,NaN
1,1,2020-01-22,no,"Korea, South",1,NaN,0.8,NaN
2,2,2020-01-22,no,Kosovo,0,NaN,0.0,NaN
3,3,2020-01-22,no,Kuwait,0,NaN,0.0,NaN
4,4,2020-01-22,no,Kyrgyzstan,0,NaN,0.0,NaN

In [22]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['doubling_rate_filtered']=pd_result_larg['doubling_rate_filtered'].where(mask, other=np.NaN)

In [23]:
pd_result_larg.head()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered,doubling_rate_filtered
0,0,2020-01-22,Alberta,Canada,0,NaN,0.0,NaN
1,1,2020-01-22,no,"Korea, South",1,NaN,0.8,NaN
2,2,2020-01-22,no,Kosovo,0,NaN,0.0,NaN
3,3,2020-01-22,no,Kuwait,0,NaN,0.0,NaN
4,4,2020-01-22,no,Kyrgyzstan,0,NaN,0.0,NaN

In [24]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)